body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    font-size: 12;
}    

/* Sets Highscores and Time Remaining in top corners */
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#highscores {
    text-decoration: none;
    color: inherit;
}

#timer {
    margin: 0;
    margin-right: 10px;   
}

/* Styles card where all of the content appears */
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: black 0px 2px 8px 0px;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

/* Styles Answer Button Container */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.ansBtn {
    padding: 10px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardFooter {
    margin-top: 10px;
}

.hide {
    display: none;
}
